/*
General Style
*/
body {   
	font-size: 14px;
	background: #E8E8E8;
	color: black;
    margin-top: 30px; 
    font-family: "Comic Sans MS", cursive, sans-serif
}
/******************************************************/


/*
General App Area
*/
#todoapp {
	background: white;
    margin: 0 auto;
    width: 600px;
    box-shadow: 10px 10px 5px #888888;
}

#content{
    margin: 20px;
}
/*****************************************************/


/*
Header of the App
*/
#dateDiv{
    color: #6699FF;
}
#top{
    border-bottom: solid #D0D0D0 1px;
}
#todo-count{
    font-size: 18pt;
    margin: 10px;
}
/*****************************************************/

/*
Add new task interface
*/

#new-todo,#datetimepicker{    
    color: grey;
	border : none;
	margin-bottom:10px;
	width:66%;
}

#new-todo{
    margin-right:14px;
    width: 50%;
}


/*****************************************************/

/*
Right-floating Icons Set
*/
#plusIcon, .editButton, #trashIcon{
    cursor: pointer;
}

.rightAlign{
	float: right;
}
.rightAlign img{
    margin-left:15px;
}

.datetime{  
    color: green;
}

#trashIcon{
    margin-top: 8px;
    margin-left:64%;
}

/******************************************************/


/*
To-do List Area
*/
#todo-list {
	padding: 0;
	list-style: none;
}

.todos {
	padding: 18px 20px 18px 0;
}

.todos:last-child {
	border-bottom: none;
}

.todos .edit {
    display: none;
}

.todos.editing .view {
	display: none;
}
.todos.editing .edit {
	display: inline-block;
}
.todos .done label {
	color: grey;
	text-decoration: line-through;
}

.todos .done-true  {
    color: grey;
    text-decoration: line-through;
}
/********************************************************************************/



/*
Footer Area
*/
#last {
	margin: 0 -20px -20px -20px;
	overflow: hidden;
	color: grey;
	background: #99CCFF;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	height: 37px;
}
#markAll{
    margin-top: 7px;
    float:left;
}


