/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************************************/

/*
General Style
*/
body {
	font-size: 14px;
	background: #eee;
	color: #000;
    margin-top: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif
}

input{
	border-radius: 5px;
}

img{
	width: 20px;
	height: 20px;
}
/******************************************************/

/*
General App Area
*/
#todoapp {
	background: #fff;
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    box-shadow: 10px 10px 5px #888888;
}

/*****************************************************/

/*
Header of the App
*/
#dateDiv{
    color: #69f;
}
#top{
    border-bottom: solid #D0D0D0 1px;
}
#todo-count{
    font-size: 18pt;
    margin: 10px 0px 10px 0px;
}

/*****************************************************/

/*
Add new task interface
*/

#new-todo,.time{
    color: #000;
	margin-bottom: 10px;
	display: inline-block;
}

#new-todo{
    width: 300px;
}

#datetimepicker{
	width: 122px;
}

/*****************************************************/

/*
Right-floating Icons Set
*/

.time{
	float:right;
}

.time img{
	margin-left: 10px;
}

#plusIcon, .editButton, #trashIcon{
    cursor: pointer;
}

.datetime{
    color: #080;
}

/******************************************************/


/*
To-do List Area
*/

.todos {
	padding: 18px 0px 18px 0;
}

.todos:last-child {
	border-bottom: none;
}

.todos .edit {
    display: none;
}

.todos.editing .view {
	display: none;
}
.todos.editing .edit {
	display: inline-block;
}

.todos .done-true  {
    color: #aaa;
    text-decoration: line-through;
}

.changeDateTime{
	width: 122px;
	margin-left: 255px;
	display: inline;
}


/********************************************************************************/

/*
Footer Area
*/
#last {
	width: 600px;
	height: 20px;
	padding: 20px;
	background-color: #9cf;
	margin: 0 -20px -20px -20px;
	border-top: solid #D0D0D0 1px;
}

#trashIcon{
	float: right;
}
