<!DOCTYPE>
<html>
<head>
<!--script libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--styleSheet libraries-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!--myScript-->
<script src="todo.js"></script>

<!--myStyleSheet-->
<link rel="stylesheet" href="todo.css"></link>

<!--dateTimeScripts-->
<link rel="stylesheet" type="text/css" href="datetimepicker/jquery.datetimepicker.css"/ >
<script src="datetimepicker/jquery.js"></script>
<script src="datetimepicker/jquery.datetimepicker.js"></script>

<!--current time script-->
<script language="JavaScript">
	function showDate()
	{
		var now = new Date();
		var days = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
		var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
		var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
		function fourdigits(number)
		{
			return (number < 1000) ? number + 1900 : number;
		}
		
		tnow=new Date();
		thour=now.getHours();
		tmin=now.getMinutes();
		tsec=now.getSeconds();
		
		if (tmin<=9) { tmin="0"+tmin; }
		if (tsec<=9) { tsec="0"+tsec; }
		if (thour<10) { thour="0"+thour; }
		
		today = days[now.getDay()] + ", " + date + " " + months[now.getMonth()] + ", " + (fourdigits(now.getYear())) + " - " + thour + ":" + tmin +":"+ tsec;
		document.getElementById("dateDiv").innerHTML = today;
	}
	setInterval("showDate()", 1000);
</script>
</head>
<body>
<div ng-app = "todoApp">
  <div id="todoapp" ng-controller="todoController">
    		  <div id = "dateDiv"></div>

	<div id = "top">
	
	<div ng-show = "hasTodo()" id="todo-count">You have {{remaining()}} thing(s) to do!</div>
        <input id="new-todo" type="text" ng-model="todoText"  
        placeholder="Type here to add todo list!"/>
		<div class = "rightAlign">
		<input  id="datetimepicker" type="text" ng-model = "newDateTime" placeholder = " Set due time">
        
		<img src = "add.png" width = "20" id = "plusIcon" ng-click="addTodo()"/>
		</div>
	</div>

    <div id="main" style="display: block;">        
        <ul id="todo-list" class="unstyled">
          <li ng-repeat="todo in todos track by $index" ">
            
			
              <input type="checkbox" ng-model="todo.done" ng-change = "update()"/>
              <span class="done-{{todo.done}} view" >{{todo.text}}</span>
			  <div class = "rightAlign">
			  <span class="done-{{todo.done}} view datetime" >{{todo.dateTime}}</span>

                <img class = "editButton" ng-click="toggleEditMode($event,todo)" src="edit.png" alt= "edit logo" height= "20" width = "20">
            </div>
			<div class = "edit">
			<form class = "form-inline">
            <input class = "form-control"type="text" ng-model="todo.text"/>
              <input  class = "changeDateTime form-control" type = "text" value = {{todo.dateTime}}>
			  <button class = "btn btn-primary" ng-click="toggleEditMode($event)">submit</button>
			</div>
		  </li>
        </ul>
    </div>
    
    <div id = "last" style="display: block;"ng-show="hasTodo()">		
		<div id = "markAll" >
          <input id="toggle-all" type="checkbox" ng-model="markAll"
            ng-change="toggleMarkAll()"/>
          <label for="toggle-all">Mark all as complete</label>
        </div>
		
		<img id = "trashIcon"src = "trash_close.png" width = "20" height = "20"ng-click = "clear()" ng-show="hasDone()">

    </div>
          
  </div>
</div>
</body>
</html>