<!DOCTYPE html>
<html>
<head>
	<title>Todo-list</title>
	<!--script libraries
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-route.min.js"></script>-->

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<!--styleSheet libraries-->
	<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

	<!--myScript-->
	<script src="js/todo.min.js"></script>

	<!--myStyleSheet-->
	<link rel="stylesheet" href="css/todo.css">

	<!--dateTimeScripts-->
	<link rel="stylesheet" type="text/css" href="datetimepicker/jquery.datetimepicker.css"/>
	<script src="datetimepicker/jquery.js"></script>
	<script src="datetimepicker/jquery.datetimepicker.js"></script>

	<!--current time script-->
	<script language="JavaScript" src="js/time.min.js"></script>
</head>

<body>
	<div ng-app="todoApp">
  		<div id="todoapp" ng-controller="todoController">

			<div id="dateDiv"></div>

				<div id="top">
					<div ng-show="hasTodo()" id="todo-count">You have {{remaining()}} thing(s) to do!</div>
					<div>
						<input id="new-todo" type="text" ng-model="todoText" placeholder="Type here to add todo list!"/>
						<div class="time">
							<input  id="datetimepicker" type="text" ng-model="newDateTime" placeholder=" Set due time"/>
							<a href="" id="addImage" ng-click="addTodo()">add</a>
							<!--<img src="image/add.png" id="plusIcon" ng-click="addTodo()" alt="add"/>-->
						</div>
					</div>
				</div>

			<div id="main">
				<ul id="todo-list">
					<li class="todos" ng-repeat="todo in todos track by $index">
						<input type="checkbox" ng-model="todo.done" ng-change="update()"/>
						<span class="view" ng-class="{'done-true': !!todo.done}">{{todo.text}}</span>

						<div class="time">
							<span class="view datetime" ng-class="{'done-true': !!todo.done}">{{todo.dateTime}}</span>
							<a href="" class="editImage" ng-click="toggleEditMode($event,todo)">edit</a>
							<!--<img class="editButton" ng-click="toggleEditMode($event,todo)" src="image/edit.png" alt="edit logo"/>-->
						</div>

						<div class="edit">
							<input class="changeTask" type="text" ng-model="todo.text"/>
							<input class="changeDateTime" type="text" value="{{todo.dateTime}}"/>
						</div>
					</li>
				</ul>
			</div>

			<div id="last" ng-show="hasTodo()">
				<div id="markAll">
					<input id="toggle-all" type="checkbox" ng-model="markAll" ng-change="toggleMarkAll()"/>
					<label for="toggle-all">Mark all as complete</label>
					<a href="" id="trashImage" ng-click="clear()" ng-show="hasDone()">trash</a>
					<!--<img id="trashIcon" src="image/trash_close.png" ng-click="clear()" ng-show="hasDone()" alt="trash">-->
				</div>
			</div>
  		</div>
	</div>
</body>
</html>